body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}

a,
a:hover {
  color: #0088cc;
}

.tgme_page_wrap {
  font-family: 'Roboto', sans-serif;;
  color: #2b2d2e;
}
.tgme_page_wrap a,
.tgme_page_wrap a:hover,
.tgme_page_wrap a:active {
  color: #3ca2d9;
}

.tgme_head_wrap {
  background: #FFF;
  height: 59px;
  padding: 14px 16px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
.tgme_logo {
  display: inline-block;
  background: url('data:image/svg+xml,%3Csvg height="34" viewBox="0 0 133 34" width="133" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Ccircle cx="17" cy="17" fill="%2327a7e5" r="17"/%3E%3Cpath d="m7.06510669 16.9258959c5.22739451-2.1065178 8.71314291-3.4952633 10.45724521-4.1662364 4.9797665-1.9157646 6.0145193-2.2485535 6.6889567-2.2595423.1483363-.0024169.480005.0315855.6948461.192827.1814076.1361492.23132.3200675.2552048.4491519.0238847.1290844.0536269.4231419.0299841.65291-.2698553 2.6225356-1.4375148 8.986738-2.0315537 11.9240228-.2513602 1.2428753-.7499132 1.5088847-1.2290685 1.5496672-1.0413153.0886298-1.8284257-.4857912-2.8369905-1.0972863-1.5782048-.9568691-2.5327083-1.3984317-4.0646293-2.3321592-1.7703998-1.0790837-.212559-1.583655.7963867-2.5529189.2640459-.2536609 4.7753906-4.3097041 4.755976-4.431706-.0070494-.0442984-.1409018-.481649-.2457499-.5678447-.104848-.0861957-.2595946-.0567202-.3712641-.033278-.1582881.0332286-2.6794907 1.5745492-7.5636077 4.6239616-.715635.4545193-1.3638349.6759763-1.9445998.6643712-.64024672-.0127938-1.87182452-.334829-2.78737602-.6100966-1.12296117-.3376271-1.53748501-.4966332-1.45976769-1.0700283.04048-.2986597.32581586-.610598.8560076-.935815z" fill="%23fff"/%3E%3Cpath d="m49.4 24v-12.562h-4.224v-2.266h11.198v2.266h-4.268v12.562zm16.094-4.598h-7.172c.066 1.936 1.562 2.772 3.3 2.772 1.254 0 2.134-.198 2.97-.484l.396 1.848c-.924.396-2.2.682-3.74.682-3.476 0-5.522-2.134-5.522-5.412 0-2.97 1.804-5.764 5.236-5.764 3.476 0 4.62 2.86 4.62 5.214 0 .506-.044.902-.088 1.144zm-7.172-1.892h4.708c.022-.99-.418-2.618-2.222-2.618-1.672 0-2.376 1.518-2.486 2.618zm9.538 6.49v-15.62h2.706v15.62zm14.84-4.598h-7.172c.066 1.936 1.562 2.772 3.3 2.772 1.254 0 2.134-.198 2.97-.484l.396 1.848c-.924.396-2.2.682-3.74.682-3.476 0-5.522-2.134-5.522-5.412 0-2.97 1.804-5.764 5.236-5.764 3.476 0 4.62 2.86 4.62 5.214 0 .506-.044.902-.088 1.144zm-7.172-1.892h4.708c.022-.99-.418-2.618-2.222-2.618-1.672 0-2.376 1.518-2.486 2.618zm19.24-1.144v6.072c0 2.244-.462 3.85-1.584 4.862-1.1.99-2.662 1.298-4.136 1.298-1.364 0-2.816-.308-3.74-.858l.594-2.046c.682.396 1.826.814 3.124.814 1.76 0 3.08-.924 3.08-3.234v-.924h-.044c-.616.946-1.694 1.584-3.124 1.584-2.662 0-4.554-2.2-4.554-5.236 0-3.52 2.288-5.654 4.862-5.654 1.65 0 2.596.792 3.102 1.672h.044l.11-1.43h2.354c-.044.726-.088 1.606-.088 3.08zm-2.706 2.948v-1.738c0-.264-.022-.506-.088-.726-.286-.99-1.056-1.738-2.2-1.738-1.518 0-2.64 1.32-2.64 3.498 0 1.826.924 3.3 2.618 3.3 1.012 0 1.892-.66 2.2-1.65.088-.264.11-.638.11-.946zm5.622 4.686v-7.26c0-1.452-.022-2.508-.088-3.454h2.332l.11 2.024h.066c.528-1.496 1.782-2.266 2.948-2.266.264 0 .418.022.638.066v2.53c-.242-.044-.484-.066-.814-.066-1.276 0-2.178.814-2.42 2.046-.044.242-.066.528-.066.814v5.566zm16.05-6.424v3.85c0 .968.044 1.914.176 2.574h-2.442l-.198-1.188h-.066c-.638.836-1.76 1.43-3.168 1.43-2.156 0-3.366-1.562-3.366-3.19 0-2.684 2.398-4.07 6.358-4.048v-.176c0-.704-.286-1.87-2.178-1.87-1.056 0-2.156.33-2.882.792l-.528-1.76c.792-.484 2.178-.946 3.872-.946 3.432 0 4.422 2.178 4.422 4.532zm-2.64 2.662v-1.474c-1.914-.022-3.74.374-3.74 2.002 0 1.056.682 1.54 1.54 1.54 1.1 0 1.87-.704 2.134-1.474.066-.198.066-.396.066-.594zm5.6 3.762v-7.524c0-1.232-.044-2.266-.088-3.19h2.31l.132 1.584h.066c.506-.836 1.474-1.826 3.3-1.826 1.408 0 2.508.792 2.97 1.98h.044c.374-.594.814-1.034 1.298-1.342.616-.418 1.298-.638 2.2-.638 1.76 0 3.564 1.21 3.564 4.642v6.314h-2.64v-5.918c0-1.782-.616-2.838-1.914-2.838-.924 0-1.606.66-1.892 1.43-.088.242-.132.594-.132.902v6.424h-2.64v-6.204c0-1.496-.594-2.552-1.848-2.552-1.012 0-1.694.792-1.958 1.518-.088.286-.132.594-.132.902v6.336z" fill="%23363b40" fill-rule="nonzero"/%3E%3C/g%3E%3C/svg%3E') 0 0 no-repeat;
  width: 133px;
  height: 34px;
  margin: -1px 0;
}
a.tgme_head_dl_button {
  display: block;
  font-size: 16px;
  line-height: 100%;
  color: #FFF;
  background: #32afed;
  padding: 2px 15px 0 16px;
  height: 45px;
  line-height: 43px;
  text-align: center;
}
a.tgme_head_dl_button:hover,
a.tgme_head_dl_button:active {
  color: #FFF;
  background: #32afed;
  text-decoration: none;
}
.tgme_icon_arrow {
  display: inline-block;
  background: url(Arrow_1x.png) 0 0 no-repeat;
  width: 8px;
  height: 12px;
  background-size: 8px 12px;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 9px;
}

.tgme_page {
  position: relative;
  margin: 52px auto 50px;
  max-width: 424px;
}

.tgme_page_photo {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}
.tgme_page_photo_image {
  width: 122px;
  height: 122px;
  border-radius: 61px;
}
.tgme_page_title {
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tgme_page_extra {
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 6px;
  color: #808080;
}
.tgme_page_description,
.tgme_page_additional {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tgme_page_description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 125px;
  word-break: break-word;
}
.tgme_page_long_description {
  max-height: none;
  -webkit-line-clamp: unset;
}
.tgme_page_additional {
  display: none;
  font-size: 14px;
  line-height: 23px;
  margin-top: 32px;
  color: #808080;
}
a.tgme_username_link,
a.tgme_username_link:hover,
a.tgme_username_link:active {
  text-decoration: none;
}
.tgme_page_action {
  text-align: center;
  margin-top: 32px;
  line-height: 0;
}
a.tgme_action_button,
a.tgme_action_button_new {
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
  background: #5dc390;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
  text-transform: uppercase;
}
a.tgme_action_button:hover,
a.tgme_action_button:active,
a.tgme_action_button_new:hover,
a.tgme_action_button_new:active {
  color: #FFF;
  background: #4bbc87;
  text-decoration: none;
}
a.tgme_action_button_new {
  background: #33d684;
}

#tgme_frame_cont {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
